﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Index","Chat"))
        {
           <p>Login:</p>
            @Html.TextBox("txtNome")  <br/>
            <input type="submit" value="Entrar"/>
        } 
    </div>
</body>
</html>
