.titulo {
	background: #fff;
	position: absolute;
	left: 50%;
	width: 60%;
	min-width: 510px;
	max-width: 600px;
	height: 40px;
	margin-top: 50px;
	text-align: center;
	line-height: 40px;
	font-family: Segoe UI;
	color: #808080;
	box-shadow: 0px 0px 5px #808080;
	border-radius: 10px 10px 0px 0px;
	z-index: 1;
}

.jogo {
	text-align: center;
	position: absolute;
	left: 50%;
	width: 60%;
	min-width: 510px;
	max-width: 600px;
	margin-top: 90px;
	padding: 5px;
	border-radius: 0px 0px 5px 5px;
	border-top: 1px solid #000;
	background: #ddd;
	box-sizing: border-box;
	box-shadow: 0px 0px 25px #808080;
}

.box {
	background: #fff;
	box-shadow: 0px 0px 1px #000;
	width: 32.8%;
	height: 32.7%;
	display: inline-block;
	transition: background 0.2s;
	font-family: Comic Sans MS;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
}

.box:hover {
	background: #ddd;
}

.box:active {
	background: #808080;
}

.box.verde {
	background: lightgreen;
}

.box.vermelho {
	background: indianred;
}
